* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 350px;
}

.container video {
  width: 100%;
  height: 100%;
}

.container .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 350px;
  background: #fff;
  mix-blend-mode: screen;
  font-size: 11.5rem;
  font-family: "Bebas Neue" cursive;
  letter-spacing: 7px;
  font-weight: bolder;
}
